 <!-- Previous week's meeting notes: https://git.snowdrift.coop/sd/wiki/tree/master/resources/meetings/2018 -->

# Meeting — September 11, 2018

Attendees: Salt, smichel17, wolftune

<!-- Check-in round -->

## Carry-overs from last meeting

```
## tracking ops tasks for just server maintenance
- NEXT STEP (Bryan): Review/capture ops priorities [chreekat, in his own list]

## Better visibility for weekly meetings (esp. including inviting people who aren't core contributors/team)
- NEXT STEP (Stephen): post a discourse announcement about weekly meetings <https://git.snowdrift.coop/sd/outreach/issues/40>

## Governance overhaul
- NEXT STEP (wolftune): posts on discourse about things he has personal notes on governance roles.

## Bryan/Stephen meeting — CI/CD improvements
- NEXT STEP (Bryan): write blog post about this process, document <https://git.snowdrift.coop/sd/snowdrift/issues/111>

## Volunteer recruitment
- NEXT STEP: Wait until ~end of September, to decide whether we want to open up option of moving off of haskell for our web framework.
- NEXT STEP (Aaron): Include this "call for frontend/backend split help" in discourse announce [added to draft: https://community.snowdrift.coop/t/please-join-us-on-the-snowdrift-community-forum/567]

## Project outreach, Kodi etc
- NEXT STEP (Michael): work on feedback form <https://git.snowdrift.coop/sd/outreach/issues/41>
```

## Metrics

Discourse (over past week):

- Signups: 1
- New Topics: 4
- Posts: 21

Sociocracy:

- Page 108

<!-- New Agenda Down Here  -->

## Diversity statement (and CoC etc), relation to ToS
- wolftune: I thought we might put this in a separate place instead of trying to cram it into the CoC or mission statement
- wolftune: example: https://www.dreamwidth.org/legal/diversity
- NEXT STEP (wolftune, in his list): Write a draft

## Tracking metrics
- smichel17: It's interesting to have metrics, but I wish I could see them over time.
- smichel17: Maybe an etherpad? I don't want to add another tool, though.
- Salt: Could make a wiki page with a table
- wolftune: Ideally the metrics would be in the meeting index.
- [All]: Don't want to add another tool / more process

## Board Meeting
- woltune: We're having a board meeting Thursday w/ Erik and Charles.
- wolftune: want to talk to them about status of the board and what their role is
- smichel17: Should I attend?
- wolftune: It would be either good or neutral, 9:30pm EST Thursday on jitsi


<!-- Decide where to capture outstanding tasks -->
<!-- Closing round -->
<!-- Capture TODOs -->
<!-- Add meeting notes to wiki -->